@{
    ViewBag.Title = "Acerca de";
}
<div class="py-5">
    <h1>Acerca del equipo</h1>
    <p class="lead">Este proyecto fue desarrollado por:</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">JOSÉ WILLIAM STEVEN HERNÁNDEZ SALAZAR</li>
        <li class="list-group-item">BAYRÓN ESAU MORALES MAZARIEGOS</li>
        <li class="list-group-item">FABIÁN ALEXANDER LÓPEZ RIVERA</li>
    </ul>
</div>
